<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plat.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.plat.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="permission" property="permission" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, pwd, permission
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from test
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from test
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.plat.pojo.User">
		insert into test (id, name, pwd,
		permission)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR},
		#{permission,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.plat.pojo.User">
		insert into test
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="permission != null">
				permission,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="permission != null">
				#{permission,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.plat.pojo.User">
		update test
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="permission != null">
				permission = #{permission,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.plat.pojo.User">
		update test
		set name = #{name,jdbcType=VARCHAR},
		pwd = #{pwd,jdbcType=VARCHAR},
		permission = #{permission,jdbcType=CHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>